# Operating System folders and files for ignore
desktop.ini

# Personal folders and files for ignore
_Pending
Code_GCC

# Proteus folders and files for ignore
Project Backups
*.workspace
*.BMP

# BascomAVR folders and files for ignore
*.bin
*.BM
*.dbg
*.obj
*.rpt

# CodeVisionAVR folders and files for ignore
Debug
Linker
List
Obj
*.cfg
*.cbi
*.cof
*.elf
*.fct
*.prj~
*.rom
Main.txt
*.c~
*.cci
*.i
*.h~
*.hci
*.al
*.ol
*.a
*.o
*.str1
*.sym1
*.sym2
*.sym3
*.lib~

# mikroC PRO for AVR folders and files for ignore
*.cproj
*.cfg
*.dbg
*.dct
*.dlt
*.log
*.lst
*.dic
*.cp
*.mcl

